* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #454545;
}

.grid-parent {
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr); 
    gap: 10px; 
    padding: 10px; 
    width: 300px; 
}

.grid-child {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background-color: lightgray; 
}